<section class="container-fluid p-4 ">
    <div class="row g-4">
        <div class="col-md-8">
            <div class="card-scroll-container">
                <div class="d-flex flex-column gap-4">
                    <div class="card card-hover">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-4">
                                <img src="assets/images/car-explore.jpg" class="card-img" alt="Car Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-title">Clio 3</p>
                                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo a corporis eveniet provident repellat debitis iste, !</p>
                                    <p class="card-text fw-bold">Price: 100$ per day</p>
                                    <button class="btn btn-info me-2">Explore</button>
                                    <button class="btn btn-primary me-2">Rent this car</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-4">
                <h2 class="card-title mb-4">Preferences</h2>
                <form class="d-flex flex-column gap-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="dynamic-search" placeholder="Dynamic search">
                        <label for="dynamic-search">Dynamic search</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="car-brand" placeholder="Car brand">
                        <label for="car-brand">Car brand</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="color" placeholder="Color">
                        <label for="color">Color</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="price" placeholder="Price">
                        <label for="price">Price</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>