.navbar-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}
.nav-links{
    font-size: 20px;
}
.nav-link:hover{
color: antiquewhite;
}   
.btn-identification {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.btn-identification:hover {
    color: rgb(0, 0, 0);
}