
<mat-tab-group dynamicHeight>
  <mat-tab label="Profile">
    <div class="example-large-box ">

      <div class="vertical-mat-tab-group  my-3">
        <mat-tab-group >
        <mat-tab label="Informations">
          <div class="mat-elevation-z4 p-5">

            <div class="card flex flex-col md:items-end md:flex-row gap-4">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-user"></i>
                </p-inputgroup-addon>
                <p-floatlabel>
                  <input pInputText id="over_label"  />
                  <label for="over_label">Username</label>
                </p-floatlabel>
              </p-inputgroup>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-user"></i>
                </p-inputgroup-addon>
                <p-floatlabel>
                  <input pInputText id="over_label"  />
                  <label for="over_label">First Name</label>
                </p-floatlabel>
              </p-inputgroup>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-user"></i>
                </p-inputgroup-addon>
                <p-floatlabel>
                  <input pInputText id="over_label"  />
                  <label for="over_label">Last Name</label>
                </p-floatlabel>
              </p-inputgroup>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Profile Photo">
          <div class="example-small-box mat-elevation-z4 p-5">
            Small content
          </div>
        </mat-tab>
      </mat-tab-group>
      </div>




    </div>
  </mat-tab>
  <mat-tab label="Settings">
    <div class="example-small-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="Adresses">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Security">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Themes">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Preferences">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>

</mat-tab-group>
